@using EstoriasMalucas.Models
@model Formulario

<div class="caixa d-flex col-md-12">
    <div class="item col-md-2" style="border: 1px solid black;">
        Publicidade
    </div>
    <div class="item col-md-8 " style=" background-color:cornflowerblue">
        <div> Olá <strong>@TempData["Nome"]</strong> , vamos começar a brinadeira. Mê dê o nome de 5 AMIGOS</div>
        <form asp-action="Formulario">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Amigo1" class="control-label"></label>
                <input asp-for="Amigo1" class="form-control" />
                <span asp-validation-for="Amigo1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amigo3" class="control-label"></label>
                <input asp-for="Amigo3" class="form-control" />
                <span asp-validation-for="Amigo3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amigo5" class="control-label"></label>
                <input asp-for="Amigo5" class="form-control" />
                <span asp-validation-for="Amigo5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amigo7" class="control-label"></label>
                <input asp-for="Amigo7" class="form-control" />
                <span asp-validation-for="Amigo7" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amigo9" class="control-label"></label>
                <input asp-for="Amigo9" class="form-control" />
                <span asp-validation-for="Amigo9" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="item col-md-2" style="border: 1px solid black;">
        Publicidade
    </div>
</div>